$first-font-family: 'Montserrat', sans-serif;
$second-font-family: 'Open Sans', sans-serif;
$third-font-family: 'Domine', italic;

$first-font-color: #314a5b;
$second-font-color: #263742;
$third-font-color: #ffffff;
$fourth-font-color: #9aa0ab;

$first-accent-color: #fa5c65;
