.footer {
  &__wraper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $fourth-font-color;
    @media screen and (max-width: 575px) {
      padding: 15px;
    }
    @media screen and (min-width: 576px) {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    @media screen and (min-width: 992px) {
      padding-top: 25px;
      padding-bottom: 45px;
    }
  }
  &__social-item-icon {
    width: 20px;
    height: 20px;
    fill: $fourth-font-color;
  }
}

.copyright {
  font-size: 12px;
  font-family: $second-font-family;
  color: $fourth-font-color;
  margin-left: 25px;
  @media screen and (min-width: 576px) {
    font-size: 13px;
  }
}
