.advantage {
  margin-bottom: 50px;
  &__list {
    @extend %list;
    @media screen and (min-width: 767px) {
      display: flex;
      justify-content: space-between;
    }
  }
  &__item {
    @extend %list;
    @media screen and (min-width: 767px) {
      flex-basis: 29%;
    }
    &:not(:last-child) {
      @media screen and (max-width: 767px) {
        margin-bottom: 22px;
      }
    }
  }
  &__desc {
    font-family: $first-font-family;
    color: $first-font-color;
    font-weight: bold;
    text-transform: uppercase;

    @media screen and (max-width: 575px) {
      font-size: 20px;
      margin: 0 0 14px;
    }
    @media screen and (min-width: 576px) {
      font-size: 22px;
      margin: 0 0 18px;
    }
    @media screen and (min-width: 768px) {
      font-size: 24px;
      margin: 0 0 22px;
    }
    @media screen and (min-width: 992px) {
      font-size: 26px;
      margin: 0 0 28px;
    }
  }
  &__content {
    font-family: $second-font-family;
    font-size: 15px;
    color: $fourth-font-color;
    margin: 0;
    @media screen and (max-width: 575px) {
      font-size: 14px;
      margin-bottom: 14px;
    }
    @media screen and (min-width: 576px) {
      font-size: 14px;
      margin-bottom: 18px;
    }
    @media screen and (min-width: 768px) {
      font-size: 14px;
      margin-bottom: 22px;
    }
    @media screen and (min-width: 992px) {
      font-size: 15px;
      margin-bottom: 28px;
    }
  }
}
